<div id="contract-edit-<%= contract.id %>" class="relative z-10 hidden" data-contracts-target="offcanvas" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-100 bg-opacity-75 transition-opacity"></div>
  <div class="fixed inset-0 z-30 w-screen overflow-y-auto">
    <div class="flex justify-end p-4 min-h-full text-center sm:p-0">
      <div class="relative transform overflow-hidden rounded-l-lg bg-white px-4 pb-4 pt-5 text-left transition-all my-8 md:my-0 sm:w-full sm:p-6 lg:w-1/2 border" id="replace-con">
        <div class="flex justify-between items-center py-3 px-5 bg-white">
          <button data-action="click->contracts#toggleCanvas" type="button" data-contract-id="<%= contract.id %>">
            <%= image_tag "icons/close-blue.svg" %>
          </button>
          <%= render 'contracts/save_button' %>
        </div>
        <div class="px-5 font-semibold">
          <ul class="flex flex-wrap px-2 mt-7 whitespace-nowrap md:gap-4 gap-16 border-b">
            <div x-on:click="edit = 'general-<%= contract.id %>'" :class="{ 'border-b-4 border-blue-700': edit === 'general-<%= contract.id %>'}" class="py-2 cursor-pointer flex justify-center items-center w-1/5 gap-2">General</div>
            <div x-on:click="edit = 'products-<%= contract.id %>'" :class="{ 'border-b-4 border-blue-700': edit === 'products-<%= contract.id %>' }" class="py-2 px-4 cursor-pointer flex justify-center items-center w-1/5">Products</div>
          </ul>
        </div>
        <%= render 'contracts/form', contract: contract %>
      </div>
    </div>
  </div>
</div>
